@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 16px;
}

h1, h2{
    font-weight: 700;
}
h1{
    
    font-size: 2rem;
}
h2{
    background-color: #333;
    color: #fff;
    min-height: 1.8rem;
    padding: .5rem 0 .5rem .5rem;
    font-size: 1.2rem;
}

body{
    width: 90vw;
    margin: 0 auto;
}

header, nav, section{
    margin-top: 5vh;
}

section{
    width: 100%;
    display: block;
    clear: left;
}

figure {
    max-width: 30%;
    float: left;
    margin-right: 2vw;
    margin-bottom: .2rem;
    background-color: #333;
    color: #fff;
}
figcaption{
    padding: 5%;
}

img{
    max-width: 100%;
}

