#smiley{
    width: 100px;
    height: 100px;
    background: url("../images/SmileySprite.png") 0 0;
    animation: smileKeyframe 500ms steps(10) infinite alternate;
}

@keyframes smileKeyframe {
    from { background-position: 0 0px; }
    to { background-position: 0 -1000px; }
  }