#tile,
#animatedTile {
    height: 100px;
    width: 100%;
    background-image: url('../images/Tile.png');
    background-size: 16px;
}

#animatedTile {
    animation: scroll 5s linear 0s infinite normal both;
}

@keyframes scroll {
    from {
        background-position: 0 0px;
    }

    to {
        background-position: 32px -64px
    }
}

h1 {
    font-weight: 700;
    font-size: 5rem;
}