@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200..700&display=swap');

html {
    font-size: 38px;
    font-family: 'Oswald', 'Arial', 'Helvetica', sans-serif;
}

body {
    width: 90vw;
    margin: 0 auto;
}

h1,
h2,
span {
    font-family: 'Lobster', 'Arial', 'Helvetica', sans-serif;
}

/* Use flex to vertically align items so they don't look misaligned */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 3rem;
}

img {
    height: 2rem;
}


/* Use flex with almost no properties to get a nice nav bar 'straight out of the box' */

nav {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: space-between;
}